<div class="container-fluid p-0 margin-bottom-c">
  <div class="">
    <div class="">
      <img class="img-top w-100" src="./assets/img/vinos/banner.png" alt="Islas Baleares" />
      <img class="img-top-phone w-100" src="./assets/img/vinos/bannerPhone.png" />
      <img class="img-top-tablet w-100" src="./assets/img/vinos/banner.png" />
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="d-md-flex justify-content-evenly">
      <div class="d-md-flex px-3">
        <app-product-card></app-product-card>
      </div>
      <div class="d-md-flex px-3">
        <app-product-card></app-product-card>
      </div>
      <div class="d-md-flex px-3">
        <app-product-card></app-product-card>
      </div>
    </div>
  </div>
  <app-facts></app-facts>
  <app-sponsors></app-sponsors>
</div>
<app-cta></app-cta>