<div class="container-fluid div-size div-size-2">
  <div class="row cta-container" style="
    background-image: url('./assets/img/cta/cta.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  ">
    <div class="backdropFilter">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="jumbotron jumbotron-fluid">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 cta-info-container">
              <h1 class="text-center text-reserva">Reserva tu próximo barco con nosotros</h1>
              <p class="lead text-center text-reserva-sub">
                Disfruta de nuestras experiencias a tu manera
              </p>

              <button class="btn btn-primary text-reserva-buttom" type="button" id="button-addon2">
                RESERVA
              </button>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>