<div class="container-fluid div-size">
    <div class="row">
        <!-- Our sponsors -->

        <div class="col-md-12 col-sm-12 col-xs-12 title-container mb-2 mt-5">
            <p class="text-center text-header">También nos puedes encontrar en</p>
        </div>

        <!-- Angular for i < 3 <p>hola</p> -->
        <div class="col-md-12 col-sm-12 col-xs-12 d-flex flex-row justify-content-between mb-5 px-5 hide-content p-0"
            *ngFor="let card of [1]">

            <div class="sponsor-container">
                <img src="./assets/img/sponsors/boltshift.svg" class="card-img-top" alt="..." />
            </div>

            <div class="sponsor-container">
                <img src="./assets/img/sponsors/lightbox.svg" class="card-img-top" alt="..." />
            </div>

            <div class="sponsor-container">
                <img src="./assets/img/sponsors/featherDev.svg" class="card-img-top" alt="..." />
            </div>

            <div class="sponsor-container">
                <img src="./assets/img/sponsors/spherule.svg" class="card-img-top" alt="..." />
            </div>

            <div class="sponsor-container">
                <img src="./assets/img/sponsors/globalBank.svg" class="card-img-top" alt="..." />
            </div>

            <div class="sponsor-container">
                <img src="./assets/img/sponsors/nietzsche.svg" class="card-img-top" alt="..." />
            </div>


        </div>

        <div class="d-lg-flex d-sm-flex d-md-inline justify-content-evenly sponsors-container mb-5 hide-content-phone div-flex" *ngFor="let card of [1]">
            <div class="d-md-flex justify-content-md-around">
                <div class="sponsor-container col-md-3 col-lg-12">
                    <img src="./assets/img/sponsors/boltshift.svg" class="card-img-top" alt="..." />
                </div>

                <div class="sponsor-container col-md-3 col-lg-12">
                    <img src="./assets/img/sponsors/featherDev.svg" class="card-img-top" alt="..." />
                </div>

                <div class="sponsor-container col-md-3 col-lg-12">
                    <img src="./assets/img/sponsors/lightbox.svg" class="card-img-top" alt="..." />
                </div>
            </div>
            <div class="d-md-flex justify-content-md-around">
                <div class="sponsor-container col-md-3 col-lg-12">
                    <img src="./assets/img/sponsors/spherule.svg" class="card-img-top" alt="..." />
                </div>

                <div class="sponsor-container col-md-3 col-lg-12">
                    <img src="./assets/img/sponsors/globalBank.svg" class="card-img-top" alt="..." />
                </div>

                <div class="sponsor-container col-md-3 col-lg-12">
                    <img src="./assets/img/sponsors/nietzsche.svg" class="card-img-top" alt="..." />
                </div>
            </div>
        </div>
    </div>
</div>