<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center mt-lg-5 div-size">
    <!-- Grid row -->
    <div class="row justify-content-lg-between justify-content-md-evenly">
      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">
        <!-- contact us -->
        <h5 class="text-start text-titles text-titles-des ms-lg-1 ms-md-1">CatamaranTours.com</h5>
        <!-- icon + address, icon + phone, icon + whatsapp -->
        <div class="col mt-4 text-sitemap text-sitemap-des">
          <!-- icon + address -->
          <div class="row mb-lg-4 mb-1">
            <div class="col-1 ms-2">
              <i class="fa-solid fa-map-marker-alt mt-2"></i>
            </div>
            <div class="col-10 text-start mb-3">
              <p class="">Carretera de Valldemosa, 17 Palma de Mallorca, Spain</p>
            </div>
          </div>

          <!-- Icon + phone -->
          <div class="row mb-4 mb-lg-5">
            <div class="col-1 ms-2">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="col-10 text-start">
              <p class="">+34 971 876 523</p>
            </div>
          </div>

          <!-- Icon + whatsapp -->
          <div class="row">
            <div class="col-1 ms-2 mb-4">
              <i class="fa-brands fa-whatsapp"></i>
            </div>
            <div class="col-10 text-start">
              <p>+34 698 873 223</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3" /> -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3 div-sitemap">
        <!-- Sitemap -->
        <h5 class="text-start text-titles text-titles-des">Sitemap</h5>

        <div class="d-flex flex-row justify-content-start col mt-4 text-sitemap text-sitemap-des">
          <ul class="list-unstyled text-start me-lg-5 me-4 ms-2 ms-lg-0">
            <li class="mb-4">
              <a href="/">Home</a>
            </li>
            <li class="mb-4">
              <a href="/tours">Tours</a>
            </li>
            <li class="mb-4">
              <a href="/about">About</a>
            </li>
            <li class="mb-4">
              <a href="/contact">Contact</a>
            </li>
            <li class="">
              <a href="/blog">Blog</a>
            </li>
          </ul>

          <ul class="list-unstyled text-start ms-lg-4">
            <li class="mb-4">
              <a href="#!">Privacy Policy</a>
            </li>
            <li class="mb-4">
              <a href="#!">Terms & Conditions</a>
            </li>
            <li class="mb-4">
              <a href="#!">Cookies Policy</a>
            </li>
            <li class="mb-4">
              <a href="#!">RGPD Policy</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-lg-3 div-social">
        <!-- Social media icons (4) box shape -->
        <h5 class="text-start text-titles text-titles-des ms-lg-2">Social Media</h5>

        <div class="col mt-4 ms-1">
          <ul class="row list-unstyled icon-phone">
            <li class="col-1 mx-1 col-sm-1 col-md-4 col-lg-5 text-lg-center">
              <a href="#!"><img class="facebook" src="./assets/img/footer/Facebook.svg"></a>
            </li>
            <li class="col-1 mx-1 col-sm-1 col-md-5 col-lg-5 text-lg-start">
              <a href="#!"><img class="instagram" src="./assets/img/footer/instagram.svg"></a>
            </li>
            <li class="col-1 mx-1 col-sm-1 col-md-4 col-lg-5 text-lg-center mt-lg-4">
              <a href="#!"><img class="youtube" src="./assets/img/footer/youtube.svg"></a>
            </li>
            <li class="col-1 mx-1 col-sm-1 col-md-5 col-lg-5 text-lg-start mt-lg-4">
              <a href="#!"><img class="whatsapp" src="./assets/img/footer/whatsapp.svg"></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Separator -->
    <hr class="hr1">
    <hr />


    <!-- copyright and powered by -->
    <div class="row text-copyright text-copyright-des justify-content-center">
      <div class="col-8 col-lg-6 text-lg-start">
        <p class="">© Copyright 2023 Venntur Ltd. All rights reserved</p>
      </div>
      <div class="col-8 col-lg-6 text-lg-end">
        <p>Powered by <a href="https://www.venntur.com">Venntur</a></p>
      </div>
    </div>

  </div>
  <!-- Footer Links -->
</footer>
