<div class="container-fluid">





  <!--   <div class="row">
    <div class="hide-text-destinos phone-size">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-bottom-c">
        <h1 class="text-center mb-4 text-destinos-h1">Destinos</h1>
        <p class="text-destinos-phone">
          Desde increibles playas hasta misteriosas cuevas por descubrir.
          Además de patrimonio mundial la Sierra de tramuntana es perfecta
          para los que quieren emociones fuertes como el ciclismo.
        </p>
        <p class="text-destinos-phone">
          Esta preciosa isla ofrece a parte de una naturaleza inolvidable
          una gran cantidad de restaurantes.
        </p>
      </div>
    </div>
  </div> -->
  <div class="container-fluid div-size div-size-2 tablet-size mt-4">
    <div class="row margin-top-c margin-bottom-c">
      <div class="col d-lg-flex flex-lg-row-reverse">
        <div class="d-flex justify-content-center col-lg-6 margin-bottom-t mb-4">
          <img class="img-bot-phone" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
          <img class="img-bot w-100" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
          <img class="img-bot-tablet w-100" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-md-center pe-lg-4">
          <div class="col-md-12">
            <div class="text-islas">
              <h1 class="text-islas-h1 mb-4 text-phone">Sobre Nosotros</h1>
              <p class="">
                Las Islas Baleares es uno de los lugares mas bonitos del mundo.
                Desde increibles playas hasta misteriosas cuevas por descubrir.
                Ademas de patrimonio mundial la Sierra de Tramuntana es perfecta
                para los que quieren emociones fuertes como el ciclismo, senderismo,
                etc.
              </p>
              <p class="">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows, buenas infraestructuras,
                pueblos maravillosos con sus tradiciones, productos de la tierra y
                trabajadores muy bien preparados para tratar con el cliente
                extranjero.
              </p>
              <p class="hide-text-about">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows, buenas infraestructuras,
                pueblos maravillosos con sus tradiciones, productos de la tierra y
                trabajadores muy bien preparados para tratar con el cliente
                extranjero.
              </p>
              <p class="hide-text-about">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid div-size div-size-2 tablet-size mt-4">
    <div class="row margin-top-c margin-bottom-c">
      <div class="col d-lg-flex">
        <div class="d-flex justify-content-center col-lg-6 margin-bottom-t mb-4 pe-4">
          <img class="img-bot-phone" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
          <img class="img-bot w-100" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
          <img class="img-bot-tablet w-100" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-md-center pe-lg-4">
          <div class="col-md-12">
            <div class="text-islas">
              <h1 class="text-islas-h1 mb-4 text-phone">Sobre Nosotros</h1>
              <p class="">
                Las Islas Baleares es uno de los lugares mas bonitos del mundo.
                Desde increibles playas hasta misteriosas cuevas por descubrir.
                Ademas de patrimonio mundial la Sierra de Tramuntana es perfecta
                para los que quieren emociones fuertes como el ciclismo, senderismo,
                etc.
              </p>
              <p class="">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows, buenas infraestructuras,
                pueblos maravillosos con sus tradiciones, productos de la tierra y
                trabajadores muy bien preparados para tratar con el cliente
                extranjero.
              </p>
              <p class="hide-text-about">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows, buenas infraestructuras,
                pueblos maravillosos con sus tradiciones, productos de la tierra y
                trabajadores muy bien preparados para tratar con el cliente
                extranjero.
              </p>
              <p class="hide-text-about">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid div-size div-size-2 tablet-size mt-4">
    <div class="row margin-top-c margin-bottom-c">
      <div class="col d-lg-flex flex-lg-row-reverse">
        <div class="d-flex justify-content-center col-lg-6 margin-bottom-t mb-4">
          <img class="img-bot-phone" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
          <img class="img-bot w-100" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
          <img class="img-bot-tablet w-100" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-md-center pe-lg-4">
          <div class="col-md-12">
            <div class="text-islas">
              <h1 class="text-islas-h1 mb-4 text-phone">Sobre Nosotros</h1>
              <p class="">
                Las Islas Baleares es uno de los lugares mas bonitos del mundo.
                Desde increibles playas hasta misteriosas cuevas por descubrir.
                Ademas de patrimonio mundial la Sierra de Tramuntana es perfecta
                para los que quieren emociones fuertes como el ciclismo, senderismo,
                etc.
              </p>
              <p class="">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows, buenas infraestructuras,
                pueblos maravillosos con sus tradiciones, productos de la tierra y
                trabajadores muy bien preparados para tratar con el cliente
                extranjero.
              </p>
              <p class="hide-text-about">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows, buenas infraestructuras,
                pueblos maravillosos con sus tradiciones, productos de la tierra y
                trabajadores muy bien preparados para tratar con el cliente
                extranjero.
              </p>
              <p class="hide-text-about">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center col margin-top-cb margin-bottom-cb">
    <button type="button" class="btn btn-primary"><a class="color-text" routerLink="/vinos">COMPRAR</a></button>
  </div>
  <app-sponsors></app-sponsors>
  <div class="container-fluid div-size div-size-2 tablet-size mt-4">
    <div class="row margin-top-c margin-bottom-c">
      <div class="col d-lg-flex flex-lg-row-reverse">
        <div class="d-flex justify-content-center col-lg-6 margin-bottom-t mb-4">
          <img class="img-bot-phone" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
          <img class="img-bot w-100" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
          <img class="img-bot-tablet w-100" src="./assets/img/home/barrica.png" alt="Islas Baleares" />
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-md-center pe-lg-4">
          <div class="col-md-12">
            <div class="text-islas">
              <h1 class="text-islas-h1 mb-4 text-phone">Sobre Nosotros</h1>
              <p class="">
                Las Islas Baleares es uno de los lugares mas bonitos del mundo.
                Desde increibles playas hasta misteriosas cuevas por descubrir.
                Ademas de patrimonio mundial la Sierra de Tramuntana es perfecta
                para los que quieren emociones fuertes como el ciclismo, senderismo,
                etc.
              </p>
              <p class="">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows, buenas infraestructuras,
                pueblos maravillosos con sus tradiciones, productos de la tierra y
                trabajadores muy bien preparados para tratar con el cliente
                extranjero.
              </p>
              <p class="hide-text-about">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows, buenas infraestructuras,
                pueblos maravillosos con sus tradiciones, productos de la tierra y
                trabajadores muy bien preparados para tratar con el cliente
                extranjero.
              </p>
              <p class="hide-text-about">
                Esta preciosa isla ofrece a parte de naturaleza inolvidable una gran
                cantidad de restaurantes, bares, shows.
              </p>
              <div class="margin-top-cd">
                <button type="button" class="btn btn-primary"><a class="color-text" routerLink="/about">SABER
                    MÁS</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid tablet-size margin-top-c">
    <app-facts></app-facts>
  </div>
</div>
<app-cta></app-cta>