<div class="bg-light">
  <nav class="navbar navbar-expand-lg bg-light div-size div-size-2">
    <div class="container-fluid d-flex flex-row-lg-reverse col-12">
      <div class="hide-logo d-flex justify-content-start">
        <img src="./assets/img/home/logo.png">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <div class="d-flex col-lg-3 hide-logo-to justify-content-center justify-content-lg-start">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <a href="/"><img src="./assets/img/home/logo.png"></a>
            
          </ul>
        </div>
        <div class="d-flex col-lg-3">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-evenly">
            <li class="nav-item active d-flex justify-content-center">
              <a class="nav-link navv-center" href="/">Home</a>
            </li>
            <li class="nav-item  d-flex justify-content-center">
              <a class="nav-link navv-center" href="/vinos">Vinos</a>
            </li>
            <li class="nav-item  d-flex justify-content-center">
              <a class="nav-link navv-center" href="/about">Sobre</a>
            </li>
            <li class="nav-item  d-flex justify-content-center">
              <a class="nav-link navv-center" href="/contact">Contacto</a>
            </li>
            <li class="nav-item  d-flex justify-content-center">
              <a class="nav-link navv-center" href="/blog">Blog</a>
            </li>
          </ul>
        </div>
        <div class="d-flex col-lg-3">
          <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-end">
            <!-- Button reservar -->
            <li class="nav-item hide-logo-to">
              <a class="btn btn-primary mx-2 navv-center" href="/reservar">RESERVAR</a>
            </li>
            <!-- Recover icon spain flag from internet -->
            <li class="nav-item  d-flex justify-content-center">
              <a class="nav-link navv-center-flag" href="#"><img src="/assets/img/flags/spain.svg" alt="spain flag"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>