<div class="container-fluid justify-content-center">
    <div class="row mb-lg-3 mb-5">
        <div class="d-lg-flex mb-lg-5 p-0">

            <img class="img-top w-100" src="./assets/img/contact/contacto.png" alt="Islas Baleares" />
            <img class="img-top-phone w-100" src="./assets/img/contact/contactoPhone.png" alt="Islas Baleares" />
            <img class="img-top-tablet w-100" src="./assets/img/contact/contactoTablet.png" alt="Islas Baleares" />

        </div>
    </div>
    <div class="container-fluid phone-size margin-bottom-c">
        <div class="row">
            <div class="d-lg-flex">
                <div class="col-lg-6 col-md-12 mb-md-5 mb-3">
                    <div class="row">
                        <div class="">
                            <div class="d-flex justify-content-lg-center justify-content-md-center ps-lg-4">
                                <h4 class="col-lg-6 text-header mb-2">Contacto</h4>
                            </div>
                            <div class="d-flex justify-content-lg-center justify-content-md-center ps-lg-4 mb-lg-3">
                                <p class="col-lg-6 text-second-header">Nuestro equipo te ayudará con tus dudas.</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-lg-center justify-content-md-center ps-lg-4">
                            <div class="col-1 p-0 text-end">
                                <img class="" src="./assets/img/contact/comentario.svg" />
                            </div>
                            <div class="col-lg-6 col-md-6 text-start mb-2 ps-2 mt-1">
                                <h4 class="text-info-header mb-lg-2">Contacta con nosotros por email</h4>
                                <p class="text-description mb-0 mb-2 mb-lg-2">Nuestro equipo te ayudara con tus dudas.</p>
                                <p class="text-second-description mb-0 mb-1 mb-lg-4">info@bodegas&viñedos.com</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-lg-center justify-content-md-center ps-lg-4">
                            <div class="col-1 p-0 text-end">
                                <img class="" src="./assets/img/contact/maps.svg" />
                            </div>
                            <div class="col-lg-6 col-md-6 text-start mb-2 ps-2 mt-1">
                                <h4 class="text-info-header mb-lg-2">Oficina</h4>
                                <p class="text-description mb-0 mb-2 mb-lg-2">Ven a nuestra oficina</p>
                                <p class="text-second-description mb-0 mb-1 mb-lg-4">Villarobledo, 17 Castilla la Mancha, Spain</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-lg-center justify-content-md-center ps-lg-4">
                            <div class="col-1 p-0 text-end">
                                <img class="" src="./assets/img/contact/tlf.svg" />
                            </div>
                            <div class="col-lg-6 col-md-6 text-start ps-2 mt-1">
                                <h4 class="text-info-header mb-0 mb-1 mb-lg-2">Teléfono de contacto</h4>
                                <p class="text-description mb-0 mb-1 mb-lg-3">De lunes a viernes desde 10:00 a 17:00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-lg-start justify-content-md-center col-lg-6 col form-phone">
                    <div class="ms-lg-3 col-lg-8 col col-md-8">
                        <app-contact-form></app-contact-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="phone-size-2 mb-4">
        <app-facts></app-facts>
    </div>
</div>
<app-cta></app-cta>
