<div class="container-fluid">
    <h2 class="hide-text text-center mt-5 mb-5 text-lugares-title">Lugares para visitar en barco</h2>
    <div class="row justify-content-center mb-lg-5 mb-4">
        <div class="col-lg-12 col-sm-12 p-0 d-flex justify-content-center">
            <h2 class="show-text align-self-center text-center">Lugares para visitar en barco</h2>
                <img class="img-top"
                src="./assets/img/tours/lugaresBarcoBanner.jpg"
                alt="Islas Baleares"
                />
                <img class="img-top-phone"
                src="./assets/img/tours/lugaresBarcoBannerPhone.jpg"
                alt="Islas Baleares"
                />  
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-lugares-description text-lugares-description-phone">
                    <p class="mb-4 text-justify-center">
                        Empezamos la aventura a principios del año 2000. Eramos solo 2
                        personas en la compañía. Año tras año fuimos aumentando de empleados
                        debido a la alta demanda que ibamos teniendo. Estamos ubicados en
                        Mallorca aunque tenemos empleados en puntos estratégicos donde
                        ofrecemos los tours.
                    </p>
                    <p class="mb-5 text-align-justify">
                        Empezamos la aventura a principios del año 2000. Eramos solo 2
                        personas en la compañía. Año tras año fuimos aumentando de empleados
                        debido a la alta demanda que ibamos teniendo. Estamos ubicados en
                        Mallorca aunque tenemos empleados en puntos estratégicos donde
                        ofrecemos los tours.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-5">
                        <img class="img-fluid"
                        src="./assets/img/tours/lugaresBarcoImg1.jpg"
                        alt="Islas Baleares"
                        />
                </div>
            </div>
            <div class="col-lg-12 mb-5 text-lugares-description text-lugares-description-phone">
                <p class="mb-4 text-justify-content-center">
                    Empezamos la aventura a principios del año 2000. Eramos solo 2
                    personas en la compañía. Año tras año fuimos aumentando de empleados
                    debido a la alta demanda que ibamos teniendo. Estamos ubicados en
                    Mallorca aunque tenemos empleados en puntos estratégicos donde
                    ofrecemos los tours.
                </p>
            </div>
            <div class="col-lg-12 mb-5 text-mateo-div">
                <p class="mb-4 text-justify-content-center text-mateo">
                    Con el efecto de la pandemia las personas son más responsables con
                    el medio ambiente, la gente se para más a pensar en las cosas que
                    realmente importan a todos.
                </p>
                <p class="name-damian">
                    -Mateo Damian, Jefe de Catamaran Tours
                </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-5">
                <img class="img-fluid"
                src="./assets/img/tours/lugaresBarcoImg2.jpg"
                alt="Islas Baleares"
                />
            </div>
            <div class="col-lg-12 text-lugares-description text-lugares-description-phone">
                <p class="mb-4 text-justify-content-center">
                    Empezamos la aventura a principios del año 2000. Eramos solo 2
                    personas en la compañía. Año tras año fuimos aumentando de empleados
                    debido a la alta demanda que ibamos teniendo. Estamos ubicados en
                    Mallorca aunque tenemos empleados en puntos estratégicos donde
                    ofrecemos los tours.
                </p>
            </div>
            <div class="col-lg-12 box-conclusion mb-5 text-lugares-description text-lugares-description-phone">
                <h2 class="text-conclusion">
                    Conclusión
                </h2>
                <p class="text-box">
                    Empezamos la aventura a principios del año 2000. Eramos solo 2
                    personas en la compañía. Año tras año fuimos aumentando de empleados
                    debido a la alta demanda que ibamos teniendo. Estamos ubicados en
                    Mallorca aunque tenemos empleados en puntos estratégicos donde
                    ofrecemos los tours.
                </p>
                <p class="text-box1">
                    Empezamos la aventura a principios del año 2000. Eramos solo 2
                    personas en la compañía. Año tras año fuimos aumentando de empleados
                    debido a la alta demanda que ibamos teniendo. Estamos ubicados en
                    Mallorca aunque tenemos empleados en puntos estratégicos donde
                    ofrecemos los tours.
                </p>
            </div>
        </div>       
    </div>
    <app-cta></app-cta>
</div>
