<div class="row">
  <div class="col text-center mb-lg-5 mb-md-5">
    <h5 class="card-title mb-4">Preguntas frecuentes</h5>
    <p class="card-text">
      Disfruta de nuestras experiencias de la mejor manera posible
    </p>
  </div>
  <div class="d-lg-flex justify-content-center mb-3">
    <div class="col-lg-9">
      <mat-accordion>
        <mat-expansion-panel id="one" [ngClass]="'mat-expansion-panel-expanded'" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Qué política de reembolso ofrecen?
            </mat-panel-title>
            <i class="fa-solid fa-plus"></i>
          </mat-expansion-panel-header>
          <p class="text-p mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur a,
            dolores pariatur dolore corrupti reiciendis enim odit animi magnam quo
            eos totam neque porro natus assumenda quasi amet nesciunt magni?
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Qué Tours ofrecen a sus clientes?
            </mat-panel-title>
            <i class="fa-solid fa-plus"></i>
          </mat-expansion-panel-header>
          <p class="text-p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur a,
            dolores pariatur dolore corrupti reiciendis enim odit animi magnam quo
            eos totam neque porro natus assumenda quasi amet nesciunt magni?
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Do I need license to manage a boat?
            </mat-panel-title>
            <i class="fa-solid fa-plus"></i>
          </mat-expansion-panel-header>
          <p class="text-p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur a,
            dolores pariatur dolore corrupti reiciendis enim odit animi magnam quo
            eos totam neque porro natus assumenda quasi amet nesciunt magni?
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Cuál es el número máximo de personas por barco?
            </mat-panel-title>
            <i class="fa-solid fa-plus"></i>
          </mat-expansion-panel-header>
          <p class="text-p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur a,
            dolores pariatur dolore corrupti reiciendis enim odit animi magnam quo
            eos totam neque porro natus assumenda quasi amet nesciunt magni?
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Tenéis disponibilidad con dos meses de antelación?
            </mat-panel-title>
            <i class="fa-solid fa-plus"></i>
          </mat-expansion-panel-header>
          <p class="text-p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur a,
            dolores pariatur dolore corrupti reiciendis enim odit animi magnam quo
            eos totam neque porro natus assumenda quasi amet nesciunt magni?
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Habláis alemán?
            </mat-panel-title>
            <i class="fa-solid fa-plus"></i>
          </mat-expansion-panel-header>
          <p class="text-p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur a,
            dolores pariatur dolore corrupti reiciendis enim odit animi magnam quo
            eos totam neque porro natus assumenda quasi amet nesciunt magni?
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
<!--   <div class="container background hide-phone">
    <img class="img-blue w-100" src="./assets/img/Frame112.png">
  </div> -->
</div>