<div class="container-fluid">
  <div class="row">
    <div class="col text-center mb-lg-5 mb-md-5">
      <h5 class="card-title mb-4">Preguntas frecuentes</h5>
      <p class="card-text">
        Disfruta de nuestras experiencias de la mejor manera posible
      </p>
    </div>
    <div class="d-lg-flex justify-content-center mb-3">
      <div class="col-lg-9">
        <mat-accordion>
          <mat-expansion-panel id="one" [ngClass]="'mat-expansion-panel-expanded'" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Qué política de reembolso ofrecen?
              </mat-panel-title>
              <i class="fa-solid fa-plus"></i>
            </mat-expansion-panel-header>
            <p class="text-p mb-0">
              Solo reemplazamos los artículos si están defectuosos o dañados. 
              Si necesitas cambiarlo por el mismo artículo, envíanos un email a 
              bodegas&viñedos@gmail.com y envía tu artículo a: Villarobledo, 17 Castilla la Mancha, Spain.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Qué visitas ofrecen a sus clientes?
              </mat-panel-title>
              <i class="fa-solid fa-plus"></i>
            </mat-expansion-panel-header>
            <p class="text-p">
              Ofrecemos un tour por la bodega y los viñedos. Al finalizar el 
              recorrido realizaremos una cata de nuestros productos.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Existe una tienda física en la bodega?
              </mat-panel-title>
              <i class="fa-solid fa-plus"></i>
            </mat-expansion-panel-header>
            <p class="text-p">
              Si, en nuestra bodega podrá encontrar diversos artículos para comprar.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Cuál es el número máximo de personas por visita?
              </mat-panel-title>
              <i class="fa-solid fa-plus"></i>
            </mat-expansion-panel-header>
            <p class="text-p">
              El aforo máximo permitido en nuestras instalaciones es de 150 personas.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Con cuanta antelación se debe reservar la visita?
              </mat-panel-title>
              <i class="fa-solid fa-plus"></i>
            </mat-expansion-panel-header>
            <p class="text-p">
              Acostumbramos a pedir una semana de antelación para preparar las instalaciones para la visita, pero
              se podrá gestionar de una manera diferente para casos especiales.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Habláis alemán?
              </mat-panel-title>
              <i class="fa-solid fa-plus"></i>
            </mat-expansion-panel-header>
            <p class="text-p">
              No, únicamente Inglés y Español. En el caso de que deseasen realizar la visita en otro idioma
              contamos con intérpretes freelancer.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <!--   <div class="container background hide-phone">
    <img class="img-blue w-100" src="./assets/img/Frame112.png">
  </div> -->
  </div>
</div>