<div class="container-fluid div-size hide-size">
    <div class="row justify-content-center gy-4 mb-4">
        <div class="col-lg-4 card-group" style="width:fit-content">
            <div class="row">
                <div class="col p-0">
                    <div class="card">
                        <div class="hide-img">
                            <img src="./assets/img/card/botellav.png" class="card-img-top" alt="...">
                        </div>
                        <div class="hide-img-phone">
                            <img src="./assets/img/card/botellav.png" class="card-img-phone w-100" alt="...">
                        </div>
                        <div class="hide-img-tablet">
                            <img src="./assets/img/card/botellav.png" class="card-img-tablet w-100" alt="...">
                        </div>
                        <div class="card-body mt-5">
                            <h5 class="card-title">{{vinos.nombre}}</h5>
                            <p class="card-text">{{vinos.descripcion}}</p>
                        </div>
                        <div class="button-container d-flex flex-row-reverse col">
                            <div class="col-6 d-grid align-items-end">
                                <button type="button" class="btn btn-primary"><a class="color-text"
                                        routerLink="/singleproduct-info">AÑADIR A LA CESTA</a></button>
                            </div>
                            <div class="col-6 d-grid">
                                <p class="desde p-0 m-0 ms-3">Desde</p>
                                <p class="price ms-3">{{vinos.precio}}€</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>