<!-- <div class="card featured-card mb-5">
    <img src="assets/img/banner.jpeg" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">Viaje en barco por la zona este de Tenerife</h5>
        <div class="icon-info-container">
            <div class="icon-info d-flex">
                <i class="fa-regular fa-clock"></i>
                <div class="d-flex icon-info-text">
                    <label>Duración</label>
                    <p>3 horas</p>
                </div>
            </div>
            <div class="icon-info d-flex">
                <i class="fa-solid fa-user"></i>
                <div class="d-flex icon-info-text">
                    <label>Nº de pax</label>
                    <p>Hasta 6</p>
                </div>
            </div>

        </div>

        <p class="card-text">
            Un entretenido viaje en barco haciendo un hermoso recorrido por la
            zona este de la isla de Tenerife
        </p>

        <div class="card-stars">
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
        </div>

    </div>

    <div class="card-price">
        <div class="price">
            <p>Desde</p>
            <h3>55,00 €</h3>
        </div>


        <div class="button-container">
            <button type="button" class="btn btn-primary"><a class="color-text"
                    routerLink="/singleproduct-info">RESERVAR</a></button>
        </div>
    </div>

</div> -->
<div class="container-fluid div-size hide-size">
    <div class="row justify-content-center gy-4 mb-4">
        <div class="col-lg-4 card-group" style="width:fit-content" *ngFor="let card of [1]">
            <div class="row">
                <div class="col p-0">
                    <div class="card">
                        <div class="hide-img">
                            <img src="./assets/img/card/botellav.png" class="card-img-top" alt="...">
                        </div>
                        <div class="hide-img-phone">
                            <img src="./assets/img/card/botellav.png" class="card-img-phone w-100" alt="...">
                        </div>
                        <div class="hide-img-tablet">
                            <img src="./assets/img/card/botellav.png" class="card-img-tablet w-100" alt="...">
                        </div>
                        <div class="card-body mt-5">
                            <h5 class="card-title">Viaje en barco por la zona este de Tenerife de costa a costa</h5>
                            <p class="card-text">Si quieres emociones fuertes prueba nuestra moto acúatica.</p>
                            <div class="card-stars">
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="button-container d-flex flex-row-reverse col">
                            <div class="col-6 d-grid align-items-end">
                                <button type="button" class="btn btn-primary"><a class="color-text"
                                        routerLink="/singleproduct-info">LEER
                                        MÁS</a></button>
                            </div>
                            <div class="col-6 d-grid">
                                <p class="desde p-0 m-0 ms-3">Desde</p>
                                <p class="price ms-3">55,00€</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>